"*":
  Zen:
    fullscreen: false
  "atom-beautify":
    general:
      _analyticsUserId: "c420f183-e8a7-4273-889d-49bb4829c627"
      analytics: false
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "markdown-deluxe"
      "vim-mode"
      "atom-typescript"
      "org"
      "metrics"
      "welcome"
      "coffee-compile"
      "textual-velocity"
      "atom-wallaby"
      "js-hyperclick"
      "tree-view-autoresize"
      "angularjs"
      "clean-context-menu"
      "ruby-test"
      "linter-shellcheck"
      "tool-bar"
      "exception-reporting"
      "tree-view"
      "atom-jasmine"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "SF Mono"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "2d6c2006-7313-acf9-88a6-4aea52243814"
  "file-icons":
    coloured: false
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter:
    lintOnFly: false
    showErrorPanel: false
    showErrorTabProject: false
    statusIconScope: "File"
  "linter-eslint":
    eslintrcPath: "/Users/allen/.eslintrc"
    globalNodePath: "/Users/allen/.npm-packages"
    useGlobalEslint: true
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  nuclide:
    installRecommendedPackages: true
    "nuclide-blame-provider-hg": {}
    "nuclide-diff-view":
      toolbarVisible: true
    "nuclide-distraction-free-mode": {}
    "nuclide-file-tree":
      revealFileOnSwitch: true
    "nuclide-home":
      showHome: false
    use:
      "nuclide-adb-logcat": false
      "nuclide-arcanist": false
      "nuclide-blame-provider-hg": false
      "nuclide-clang-atom": false
      "nuclide-debugger-hhvm": false
      "nuclide-debugger-lldb-client": false
      "nuclide-hack": false
      "nuclide-hack-symbol-provider": false
      "nuclide-hg-repository": false
      "nuclide-hhvm-toolbar": false
      "nuclide-language-hack": false
      "nuclide-ocaml": false
  pigments:
    groupPaletteColors: "by file"
    markerType: "square-dot"
    sortPaletteColors: "by color"
  react: {}
  "svg-preview":
    openPreviewAutomatically: true
  term3:
    fontSize: "15"
  "tool-bar":
    position: "Bottom"
    visible: false
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    preferredLineLength: 100
".hack.html.text":
  editor:
    preferredLineLength: 100
".hackfragment.source":
  editor:
    preferredLineLength: 100
".hg-commit.text":
  editor:
    preferredLineLength: 100
"source.gfm":
  editor:
    softWrap: true
