"*":
  Zen:
    fullscreen: false
  "atom-beautify":
    general:
      _analyticsUserId: "c420f183-e8a7-4273-889d-49bb4829c627"
      analytics: false
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "angularjs"
      "atom-jasmine"
      "atom-tt"
      "atom-typescript"
      "atom-wallaby"
      "clean-context-menu"
      "coffee-compile"
      "exception-reporting"
      "js-hyperclick"
      "linter-shellcheck"
      "markdown-deluxe"
      "metrics"
      "org"
      "qolor"
      "ruby-test"
      "textual-velocity"
      "tool-bar"
      "tree-view-autoresize"
      "vim-mode"
      "welcome"
      "audio-recorder"
      "advanced-open-file"
      "aligner"
      "atom-beautify"
      "atom-commander"
      "busy-signal"
      "caniuse"
      "color-picker"
      "compatibility-reporter"
      "document-outline"
      "file-icons"
      "fold-comments"
      "font-viewer"
      "git-blame"
      "git-control"
      "git-log"
      "git-projects"
      "git-time-machine"
      "highlight-selected"
      "inline-markdown-images"
      "intentions"
      "json-level-color"
      "language-babel"
      "language-ini"
      "language-javascript-jsx"
      "line-jumper"
      "linter"
      "linter-eslint"
      "linter-rubocop"
      "linter-ui-default"
      "markdown-format"
      "markdown-lists"
      "markdown-preview-plus"
      "markdown-table-formatter"
      "merge-conflicts"
      "organized"
      "pigments"
      "preview-inline"
      "remember-file-positions"
      "show-in-system"
      "term3"
      "tasks"
      "tablr"
      "table-editor"
      "synced-sidebar"
      "sort-lines"
      "Zen"
      "MagicPython"
      "haskell-grammar"
      "language-graphql"
      "language-lua"
      "language-ocaml"
      "language-rust"
      "tree-view"
      "nuclide-format-js"
      "set-syntax"
      "svg-preview"
      "svgo"
      "language-svg"
      "language-swift"
      "language-thrift"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "SF Mono"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "2d6c2006-7313-acf9-88a6-4aea52243814"
  "file-icons":
    coloured: false
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter: {}
  "linter-eslint":
    eslintrcPath: "/Users/allen/.eslintrc"
    globalNodePath: "/Users/allen/.npm-packages"
    useGlobalEslint: true
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "linter-ui-default":
    showPanel: true
  nuclide:
    installRecommendedPackages: true
    "nuclide-blame-provider-hg": {}
    "nuclide-diff-view":
      toolbarVisible: true
    "nuclide-distraction-free-mode": {}
    "nuclide-file-tree":
      revealFileOnSwitch: true
    "nuclide-home":
      showHome: false
    use:
      "nuclide-adb-logcat": false
      "nuclide-arcanist": false
      "nuclide-blame-provider-hg": false
      "nuclide-clang-atom": false
      "nuclide-debugger-hhvm": false
      "nuclide-debugger-lldb-client": false
      "nuclide-hack": false
      "nuclide-hack-symbol-provider": false
      "nuclide-hg-repository": false
      "nuclide-hhvm-toolbar": false
      "nuclide-language-hack": false
      "nuclide-ocaml": false
  pigments:
    groupPaletteColors: "by file"
    markerType: "square-dot"
    sortPaletteColors: "by color"
  react: {}
  "svg-preview":
    openPreviewAutomatically: true
  term3:
    fontSize: "15"
  "tool-bar":
    position: "Bottom"
    visible: false
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    preferredLineLength: 100
".hack.html.text":
  editor:
    preferredLineLength: 100
".hackfragment.source":
  editor:
    preferredLineLength: 100
".hg-commit.text":
  editor:
    preferredLineLength: 100
"source.gfm":
  editor:
    softWrap: true
