"*":
  Zen:
    fullscreen: false
  "atom-beautify":
    analytics: false
  core:
    audioBeep: false
    disabledPackages: [
      "table-editor"
      "markdown-deluxe"
      "line-ending-selector"
      "vim-mode"
      "linter-rubocop"
      "atom-typescript"
      "preview-inline"
      "markdown-preview-plus"
      "org"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-java"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-toml"
      "metrics"
      "welcome"
      "tool-bar"
      "coffee-compile"
      "textual-velocity"
      "atom-wallaby"
    ]
    themes: [
      "one-dark-ui"
      "plastic-code-wrap-syntax"
    ]
  editor:
    fontFamily: "consolas"
    fontSize: 17
    invisibles: {}
    lineHeight: 1.4
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "2d6c2006-7313-acf9-88a6-4aea52243814"
  "file-icons":
    coloured: false
  linter:
    lintOnFly: false
    showErrorPanel: false
    showErrorTabProject: false
    statusIconPosition: "Right"
    statusIconScope: "File"
    underlineIssues: false
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  pigments:
    groupPaletteColors: "by file"
    sortPaletteColors: "by color"
  react: {}
  term3:
    fontSize: "15"
  "tool-bar":
    visible: false
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
"source.gfm":
  editor:
    softWrap: true
