"*":
  "exception-reporting":
    userId: "5d214adc-6c27-375a-826d-e8103ac144c6"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "table-editor"
      "markdown-deluxe"
      "line-ending-selector"
      "vim-mode"
      "linter-rubocop"
      "atom-typescript"
      "preview-inline"
      "markdown-preview-plus"
      "react"
      "remember-file-positions"
    ]
    themes: [
      "one-dark-ui"
      "plastic-code-wrap-syntax"
    ]
  editor:
    fontSize: 17
    fontFamily: "consolas"
    invisibles: {}
    lineHeight: 1.4
    showIndentGuide: true
    scrollPastEnd: true
  react: {}
  Zen:
    fullscreen: false
  "atom-beautify":
    analytics: false
  "file-icons":
    coloured: false
  linter:
    statusIconPosition: "Right"
    underlineIssues: false
    showErrorTabProject: false
    statusIconScope: "File"
  pigments:
    groupPaletteColors: "by file"
    sortPaletteColors: "by color"
  tablr: {}
  term3:
    fontSize: "15"
  "tree-view":
    showOnRightSide: true
"source.gfm":
  editor:
    softWrap: true
