/* feedback icon */
.monaco-shell .statusbar-item > .dropdown.send-feedback {
  display: none;
}

/* shell empty window */
.monaco-shell.vs-dark {
  background-color: rgba(0, 22, 27, 1);
}

/* statusbar */
.monaco-workbench > .part.statusbar {
  background-color: hsla(191, 100%, 3%, 1);
}

/* title bar */
.vs-dark .monaco-workbench > .part.titlebar {
  background-color: hsla(191, 100%, 3%, 1);
}

/* sidebar bg */
.vs-dark .monaco-workbench {
  background-color: hsla(191, 100%, 8%, 1);
}

/* toolbar */
.vs-dark .monaco-workbench > .activitybar > .content {
  background-color: hsla(191, 100%, 11%, 1);
}

/* tab bar bg */
.vs-dark .monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title.tabs.shows-tabs {
  background-color: rgba(255, 255, 255, 0.12);
}

/* inactive tab */
.vs-dark .monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .tabs-container > .tab:not(.active) {
  background-color: rgba(255, 255, 255, 0);
}

/* tab */
.vs-dark .monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .tabs-container > .tab {
  border-left-color: rgba(0, 22, 27, 1);
}

.vs-dark .monaco-workbench > .sidebar > .title > .title-actions {
  background-color: hsla(191, 100%, 8%, 1);
}

/* sidebar item hover */
.vs-dark .monaco-tree .monaco-tree-row:hover:not(.highlighted):not(.selected):not(.focused) {
  background-color: rgba(255, 255, 255, 0.12);
}

/* .vs-dark .monaco-tree .monaco-tree-row.selected:not(.highlighted) {} */

/* line numbers */
.monaco-editor.vs-dark .line-numbers {
  color: rgba(90, 112, 117, 0.5);
}

/* diffbar */
.monaco-diff-editor.vs-dark .diffOverview {
  background: hsla(191, 100%, 8%, 1);
}

.monaco-shell,
button,
input,
textarea {
  font-family: "SF Mono", "Vazir Code", -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
}

.vs-dark .monaco-workbench > .editor > .content.vertical-layout > .one-editor-silo.editor-three,
.vs-dark .monaco-workbench > .editor > .content.vertical-layout > .one-editor-silo.editor-two {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}

/* Welcome Pgae */
.vs-dark .monaco-workbench > .part.editor > .content .welcomePage .commands li button {
  background-color: rgba(255, 255, 255, 0.08);
}

.vs-dark .monaco-workbench > .part.editor > .content .welcomePage .commands li button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.extensions-viewlet > .extensions .extension .description,
.extensions-viewlet > .extensions .extension > .details > .header-container > .header > .ratings {
  display: none;
}

.vs-dark .quick-open-widget {
  background-color: hsla(191, 100%, 8%, 1);
  box-shadow: 0 5px 8px hsla(191, 100%, 3%, 1);
  top: 55px !important;
  border-radius: 3px;
}

.vs-dark input {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: hsla(191, 100%, 5%, 0.5) !important;
}

.vs-dark .synthetic-focus input {
  background-color: rgba(255, 255, 255, 0.6) !important;
  color: hsla(191, 100%, 5%, 1) !important;
}

/*
.vs-dark .monaco-workbench {
  --input-bgcolor: #fff;
}
*/

.monaco-editor.vs-dark .monaco-editor-hover {
  background-color: hsla(191, 100%, 8%, 1);
  border-color: hsla(191, 100%, 3%, 1);
}

.monaco-editor .margin-view-overlays .folding.collapsed {
  /* background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' …oke='%236b6b6b' stroke-miterlimit='10' d='M10 7.5H5M7.5 5v5'/%3E%3C/svg%3E); */
}
