/* feedback icon */
.monaco-shell .statusbar-item > .dropdown.send-feedback {
  display: none;
}

/* UI font */
.monaco-shell,
button,
input,
textarea {
  font-family: "SF Mono", "Vazir Code", -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
}

/* hiding extra stuff on extensions sidebar */
.extensions-viewlet > .extensions .extension .description,
.extensions-viewlet > .extensions .extension > .details > .header-container > .header > .ratings {
  display: none;
}

/* disabled extensions */
.extension.disabled img.icon {
  filter: grayscale(100%);
  opacity: 0.33 !important;
}

/* extension content header */
.extension-editor > .header {
  background-color: transparent;
}

.monaco-editor.vs-dark .tm-inspect-widget {
  background-color: #002d38;
  border-color: #99abaf;
  padding-top: 0;
  padding-bottom: 0;
}

.monaco-editor.vs-dark .tm-inspect-widget hr {
  border: 0;
  border-top: 1px solid;
}

.tm-token,
.tm-metadata-value,
.tm-theme-selector {
  font-family: inherit;
}
